[Unit]
Description=Backup Mysql Databases Service
Wants=mysqlbackup.timer

[Service]
EnvironmentFile=/etc/sysconfig/mysqlbackup
PassEnvironment=BACKUP_DIR MY_CNF_FILE MYSQLDUMP MYSQL
WorkingDirectory=/srv
Type=oneshot
ExecStart=/usr/sbin/mysqlbackup

[Install]
WantedBy=multi-user.target
